<section class="row justify-content-center align-items-center flex-grow-1">

  <!-- SECTION offcanvas -->
  <div id="favorite-list" class="offcanvas offcanvas-start bg-smokey-glass">
    <div id="apod-list" class="offcanvas-body">

    </div>
  </div>
  <div class="col-1">
    <button class="btn btn-outline-light" title="open list of favorite apods" data-bs-toggle="offcanvas"
      data-bs-target="#favorite-list"><i class="mdi mdi-list-box"></i></button>
  </div>



  <div id="apod-details" class="col-md-8 col-12">

  </div>
</section>